*{
    margin: 0px; 
    padding: 0px; 
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body{    
    margin:0;
    background-color: #F3E1A9;
    background-attachment: fixed;
    padding: 0.1px;
    /* text-shadow: 3px 3px 2px #000000; */
    text-align: center;
}

.formula {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    color: black;
}

input{
    margin-top: 0.5%;
    max-width: 60%;
    margin-left: 20%;
    border-radius:10px;
}
header{
    
    /* background-color: blue; */
    /* max-width:50%; */
}

nav{
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: #b88650;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 0 20px;
    justify-content: space-around;
    color: #ffffff;
    
}

 .carousel-item{
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    height: 100%;
 }
 .cabecalho a {
    color: #ffffff;
    font-size: larger;
 }
