body{
    font-family: Arial, sans-serif;
    background-color:  #FFE4B5;
}
.container-produtos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
}
.div-produto {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    position: absolute;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.titulo {
    font-weight: bold;
    color: #8B4513;
    font-size: larger;
}

.desc {
    font-style: italic;
    align-items: center;
}

.valor {
    font-weight: bold;
    color: #8B4513;
}

.datavalidade {
    font-style: italic;
    color: #8B4513;
    font-weight: bold;
}
@media (max-width: 768px) {
    .imagem-container {
        margin: 10px;
    }
}